.app-grid {
  display: grid;
  grid-template-columns: 240px 1fr 300px;
  height: 100vh;
  background-color: cornsilk;
  color: aquamarine;
  font-family: Arial, Helvetica, sans-serif;
}
.sidebar {
  background-color: #181818;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.sidebar button {
  
  border-radius: 8px;
}
.song-info {
  align-items: center;
  row-gap: 3px;
}
.song-info :hover{
color: black;
display: inline;
}
.sidebar h2 {
  
  font-size: 1.2rem;
  margin-bottom: 10px;
}
.quick{
  padding-right: 6px;
  position: relative;
   position: absolute; 
   bottom: 0;
}


.main-content {
  background-color: #000000;
  padding: 20px;
  display: block;
  overflow-y: auto;
}


.player {
  background-color: #202020;
  padding: 20px;
}

.grid-song {
  display: flex; 
  flex-direction: row;
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));

  overflow-x: auto;
  overflow-y: hidden;
  padding: 10px;
  scroll-behavior: smooth;
  width: 100%;
}


.grid-song::-webkit-scrollbar {
  height: 8px;
}

.grid-song::-webkit-scrollbar-thumb {
  background: #1db954;
  border-radius: 10px;
}

.song-card {
  flex: 0 0 auto; 
  width: 180px;
  text-align: center;
  color: white;
  background-color: #1db954;
  border-radius: 10px;
  padding: 1rem;
  transition: 0.3s;
  border: 1px solid royalblue; 
}

.song-card:hover {
  background-color: #1ed760; 
  transform: scale(1.05);
}

.song-card img {
  width: 100%;
  border-radius: 10px;
}

.song-card h3 {
  font-size: 0.9rem;
  margin-top: 5px;
}

.song-card p {
  font-size: 0.8rem;
  color: black;
}

